body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#app {
    max-width: 800px;
    margin: 20px auto; /* Ajuste de margen para centrar #app */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.foto {
    width: 200px;
    height: auto;
    margin: 10px;
}

#searchContainer {
    text-align: center; /* Centrar el contenedor */
    margin-top: 20px; /* Espacio entre #app y el contenedor de búsqueda */
}

#searchInput {
    padding: 10px; /* Ajuste del padding */
    margin-right: 2px; /* Margen derecho para separar el input del botón */
    border-radius: 4px; /* Ajuste del borde */
    border: 1px solid #ccc; /* Ajuste del borde */
}

#botonBusqueda {
    padding: 10px 20px; /* Ajuste del padding */
    background-color: #12051a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#botonBusqueda:hover {
    background-color: #0056b3;
}

#saberMasBtn {
    margin-right: 100px; 
    padding: 10px 20px; /* Ajuste del padding */
    background-color: #12051a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Espacio entre la barra de búsqueda y el botón "Saber más" */
}

#saberMasBtn:hover {
    background-color: #0056b3;
}